---
import { ViewTransitions } from "astro:transitions";

import { fade } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Link from "../components/Link.svelte";
import Footer from "../components/Footer.astro";

type Props = {
  title: string;
  description: string;
  image?: string;
};

const { title, description, image } = Astro.props;
const { pathname } = Astro.url;

let href = "hi";

if (pathname === "/blog" || pathname === "/blog/") href = "/";
else if (pathname.startsWith("/blog/")) href = "/blog";
else href = "/";
---

<html lang="en">
  <head>
    <ViewTransitions transition:animate={fade({ duration: "0.1s" })} />

    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Tan Wei Hup" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- link tags -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href="/fonts/Switzer.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Hack.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="fe5d6259-d090-49be-bfce-f4eb2ab40871"></script>
  </head>

  <body class="px-4 py-8 bg-[#171717] text-[#D4D4D4]">
    <div class="max-w-[43rem] mx-auto px-4">
      <header class="h-37.5px flex items-center justify-between -mt-2">
        <slot name="header-content">
          <Link {href}>← back</Link>
        </slot>

        <Navbar />
      </header>

      <slot />

      <div class="mt-24"></div>

      <Footer />
    </div>
  </body>
</html>
